name: CI
on: [push, pull_request]
jobs:
  unittest:
    strategy:
      matrix:
        go-version: [1.18.x, 1.19.x]
        os: [ubuntu-latest, macos-latest]
      fail-fast: true
    runs-on: ${{matrix.os}}
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{matrix.go-version}}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Install tools
      run: make tool
    - name: Unittest
      run: gotestsum --junitfile report.xml --format pkgname --raw command make test extend=-json
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v3
      if: always()
      with:
        report_paths: report.xml
    - name: Upload code coverage report
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.go-version == '1.18.x' }}
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage-report
        path: coverage.txt
    - name: Benchmark
      run: make benchmark

  code-coverage:
    runs-on: ubuntu-latest
    needs: unittest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Download code coverage report
      uses: actions/download-artifact@v2
      with:
        name: code-coverage-report
    - name: Code Coverage Report
      uses: codecov/codecov-action@v2
      with:
        files: coverage.txt
        verbose: true
        flags: unittest
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
